<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>driverProductOrder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous" />
</head>
<body style="background-color: #87AFC7">
<h1>
    <div align="left">
        <a href="/driver">
            <img th:src="@{/images/FirmaESE.png}" style="position: absolute; top:0; left: 0;" height="108" width="144"/>
        </a>
    </div>
    <div class="text-right">
        <!-- Logout Button -->
        <a href="/logout">
            <button type="button" class="btn btn-warning btn-lg">
                Logout
            </button>
        </a>
        <a href="/info/user">
            <button type="button" class="btn btn-warning btn-lg">
                Userinfo
            </button>
        </a>
    </div>
</h1>
<br/>
<br/>
<div align="center">
    <h1>Ausgewählter Auftrag</h1>
</div>
<br/>
<div class="container">
    <ul class="list-group">
        <li class="list-group-item list-group-item-warning" th:text="'AuftragsId: '+ ${prod.id}"/>
        <li class="list-group-item list-group-item-warning" th:text="'Produkt: ' + ${prod.product.productName}"/>
        <li class="list-group-item list-group-item-warning" th:text="'Menge: ' + ${prod.amount}"/>
        <li class="list-group-item list-group-item-warning" th:text="'Kunde: ' + ${prod.client.name}"/>
        <li class="list-group-item list-group-item-warning" th:text="'Adresse: ' + ${prod.client.street}"/>
        <li class="list-group-item list-group-item-warning" th:text="'Stadt: ' + ${prod.client.city}"/>
        <li class="list-group-item list-group-item-warning" th:text="'Land: ' + ${prod.client.land}"/>
        <li class="list-group-item list-group-item-warning" th:text="'Status: ' + ${prod.accOrRej}"/>
    </ul>
</div>
<br/>
<button class="btn btn-warning btn-lg" type="button" onclick="history.back()">Zurück</button>
<div class="btn-group" role="group" style="float: right">
    <a th:href="${'/driverProductOrder/'+tour.id+'/'+prod.id+'/abgelehnt'}">
        <button type="button" class="btn btn-warning btn-lg">
            Abgelehnt
        </button>
    </a>
    <a th:href="${'/driverProductOrder/'+tour.id+'/'+prod.id+'/akzeptiert'}">
        <button type="button" class="btn btn-warning btn-lg">
            Akzeptiert
        </button>
    </a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>