<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form th:action="@{/form}" th:object="${job}" method="post">
    <table>
        <tr>
            <td>Seriennummer:</td>
            <td><input type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>Kunde:</td>
            <td><input type="text" th:field="*{client}"/></td>
        </tr>
        <tr>
            <td>Produkt:</td>
            <td><input type="text" th:field="*{product}"/></td>
        </tr>
        <tr>
            <td>Adresse:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td>
                <p><input type="submit" value="Auftrag speichern" /> <input type="reset" value="Reset" /></p>
            </td>
        </tr>
    </table>
</form>
</body>
</html>