<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p align="center">
        <a href="/logistiker">
            <button type="button" class="btn btn-default btn-lg">
                Logistiker
            </button>
        </a>
    </p>
    <p align="center">
        <a href="/fahrer">
            <button type="button" class="btn btn-default btn-lg">
                Fahrer
            </button>
        </a>
    </p>
</body>
</html>