<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Aufträge</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(jobList)}">
        <h2>Aufträge</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Amount</th>
            </tr>
            <tr th:each="productOrder : ${jobList}">
                <td th:text="${productOrder.id}"></td>
                <td th:text="${productOrder.product}"></td>
                <td th:text="${productOrder.amount}"></td>
            </tr>
        </table>
    </div>

</div>
    <!-- Zurück button -->
    <form>
        <input type="button" value="Zurück" onclick="history.back()">
        </input>
    </form>

    <a href="/showJobs">
        <button type="button" class="btn btn-outline-warning btn-lg">
            Aufträge anzeigen
        </button>
    </a>
</body>


</html>