<!DOCTYPE HTML>
<html>
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <!-- Jobs button -->
    <p align="center">
        <a href="/jobs">
            <button type="button" class="btn btn-default btn-lg">
                Aufträge
            </button>
        </a>
    </p>

    <!-- Form button -->
    <p align="center">
        <a href="/form">
            <button type="button" class="btn btn-default btn-lg">
                Neuer Auftrag erfassen
            </button>
        </a>
    </p>
</body>
</html>